 .u-section-1 {
  background-image: linear-gradient(black, #332929);
}

.u-section-1 .u-sheet-1 {
  min-height: 194px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-scale: 0.3;
  margin: 86px auto 60px;
} .u-section-2 {
  background-image: linear-gradient(#332929, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 594px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 73px;
  margin-bottom: 56px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 396px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/image-23.png");
  background-position: 50% 50%;
  margin: 1px auto 0 2px;
}

.u-section-2 .u-text-2 {
  margin: 19px 2px 0;
}

.u-section-2 .u-text-3 {
  margin: 27px 5px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
  margin: 1px auto 0 2px;
}

.u-section-2 .u-text-4 {
  margin: 19px 2px 0;
}

.u-section-2 .u-text-5 {
  margin: 27px 5px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/damien.marrasse_ef61e732-bf8d-4fcc-bde7-222831b62337-thumb.jpg");
  background-position: 50% 50%;
  margin: 1px auto 0 2px;
}

.u-section-2 .u-text-6 {
  margin: 19px 2px 0;
}

.u-section-2 .u-text-7 {
  margin: 27px 5px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 28px;
}

.u-section-2 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/IMG_76832.jpg");
  background-position: 50% 50%;
  margin: 1px auto 0 2px;
}

.u-section-2 .u-text-8 {
  margin: 19px 2px 0;
}

.u-section-2 .u-text-9 {
  margin: 27px 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 168px;
    width: 168px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 168px;
    width: 168px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 168px;
    width: 168px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 168px;
    width: 168px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #332929);
}

.u-section-3 .u-sheet-1 {
  min-height: 809px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 85px auto 0;
}

.u-section-3 .u-table-1 {
  margin-top: 85px;
  margin-bottom: 60px;
}

.u-block-bf8e-4 {
  border-style: dotted;
}

.u-block-bf8e-7 {
  border-style: dotted;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-3 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-3 {
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-4 {
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-5 {
  padding: 10px 20px;
}

.u-section-3 .u-table-body-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-6 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-9 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-10 {
  border-style: dotted;
  font-weight: 400;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-14 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-15 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-16 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-17 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-18 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-19 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-20 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-21 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-22 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-23 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-24 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-25 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-26 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-27 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-28 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-29 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-30 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-31 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-32 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-33 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-34 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-35 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-36 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-37 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-38 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-39 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-40 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-41 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-42 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-43 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-44 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-45 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-46 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-47 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-48 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-49 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-50 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-51 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-52 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-53 {
  border-style: dotted;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-54 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-55 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-bf8e-50 {
  background-image: none;
}

.u-block-bf8e-52 {
  padding: 10px 20px;
}

.u-block-bf8e-53 {
  padding: 10px 20px;
}

.u-block-bf8e-54 {
  padding: 10px 20px;
}

.u-block-bf8e-55 {
  padding: 10px 20px;
}

.u-block-bf8e-62 {
  padding: 10px 20px;
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    margin-top: 264px;
  }
} .u-section-4 {
  background-image: linear-gradient(#332929, #1a1a1a);
}

.u-section-4 .u-sheet-1 {
  min-height: 951px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 688px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-2 {
  margin: 19px 20px 0;
}

.u-section-4 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-4 {
  margin: 19px 20px 0;
}

.u-section-4 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-6 {
  margin: 19px 20px 0;
}

.u-section-4 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-8 {
  margin: 19px 20px 0;
}

.u-section-4 .u-text-9 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-10 {
  margin: 19px 20px 0;
}

.u-section-4 .u-text-11 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-12 {
  margin: 19px 20px 0;
}

.u-section-4 .u-text-13 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}