 .u-section-1 {
  background-image: linear-gradient(#333333, #404040);
}

.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-scale: 0.3;
  margin: 94px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 318px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 53px auto 0;
}

.u-section-1 .u-image-1 {
  width: 518px;
  height: 518px;
  animation-timing-function: ease-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px auto 60px 301px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 207px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 68px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    animation-duration: 10000ms;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 72px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 55px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 253px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 55px;
    margin-right: 79px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 32px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(#404040, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 632px;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 197px 0;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 48px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-2 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 802px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2105px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1415px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1136px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, black);
}

.u-section-3 .u-sheet-1 {
  min-height: 426px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 33px 0 18px;
}